html {
    font-size: 100%;
    --title-fsize: clamp(1.5rem, 2vw + 1rem, 3rem);
    --header-height: clamp(3rem, 8vw, 4.5rem);
    font-family: "Source Sans 3", sans-serif;
}
.title {
    font-family: "Oswald", sans-serif;
    font-size: var(--title-fsize); /*TODO define by grid instead??*/
    line-height:  var(--header-height); /*TODO constrain by width AND height of text? */
}
li {
    font-size: clamp(1rem, 2vw + 1rem, 2rem);
    font-weight: 400;
}
h1 {
    font-size: calc(var(--title-fsize));
    font-weight: 600; 
}
#hero > p {
    font-size: clamp(1rem, 3vw + .75rem, 2.5rem);
}
h2 {
    font-size: clamp(1.25rem, 6.5vw - 1.5rem, 2.5rem); /*XS: 1.25rem, S-M: 2.25rem, L-XL: 2.5rem*/
}
h3 {
    font-size: clamp(1rem, 5vw - 1rem, 2rem); /*XS = 1rem, S-XL = 2rem*/
}
p {
    font-size: clamp(1rem, 3vw + .75rem, 2rem);
}
button {
    font-weight: 600;
    font-family: "Source Sans 3", sans-serif; /* TODO determine issue with specificity */
    font-size: clamp(1rem, 4vw + 0.25rem, 2.5rem); /*XS: 1, S: 2, M: 2*/
}
section {
    border: .125rem solid black;
}
footer {
    font-size: .875rem;
    font-weight: 600rem;
}
@media screen and (min-width: 77.5rem) {
    #nav-items li a {
        line-height: var(--header-height);
        font-size: clamp(1.25rem, 2vw + 1rem, 1.5rem);
    }
    button {
        font-size: clamp(1.5rem, 3vw - .75rem, 2rem); /*XS: 1, S: 2, M: 2*/
    }
}