@import url(../components/img-media.css);
@import url(../components/social-icons.css);
@import url(../components/site-button.css);

.hero-section {
    > .content {
        margin-top: 1rem;
        display: flex;
    }
    > .content > .medias {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1rem; /*TODO responsive adjust*/
    }
    > .content > .medias > .img-media.-portrait {
        height: auto;
        aspect-ratio: 0.84;
    }
    > .content > .blurb {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    > .content > .blurb > .title {
        height: fit-content; 
        width: 100%;

        text-align: center;
        font-size: var(--fsz-primary);
        font-weight: 600;
    }
    > .content > .blurb > .blurbtext {
        height: fit-content;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
    > .content > .blurb > .blurbtext > .paragraph {
        font-weight: 300;
    }
    > .content > .blurb > .site-button {
        height: auto;
    }
}

.hero-section.-mobile {
    > .content {
        flex-direction: column;
        gap: 1rem;
    }
    >.content > .medias {
        --n-cols: calc(var(--col-all)/2);
        width: 100%;
        max-height: calc(50% - 0.5rem); /*50% of content height - half a gutter for each div*/
    }
    > .content > .medias > .img-media.-portrait {
        width: calc((100% - var(--colgap-all))/2 + (var(--n-cols) + 1)*1rem);
        margin: 0 auto; /* left, right = XS-M: complements of face-width, L-XL: 0 */
        @media screen and (min-width: 56.6rem) {
            width: calc(2*(100% - var(--colgap-all))/3 + 5rem); /*M: 8c+9g*/
        }
    } 
    > .content > .medias > .social-icons {
        /* XS:2c+1g, S: 4c+3g, M: 6c+5g, L-XL: 5c+4g*/
        width: calc((100% - var(--colgap-all))/2 + (var(--n-cols) - 1)*1rem);
    }
    > .content > .blurb > .blurbtext > .paragraph {
        text-align: center;
        /*TODO? width XS-M: 100%, L-XL: half cols, 100% of blurb */
        font-weight: 300;
        font-size: clamp(1rem, 3vw + .75rem, 2.5rem);
    }
    > .content > .blurb > .site-button {
        width: calc((100% - var(--gutters))/2 + (var(--cols) - 1)*1rem); /*half of cols */
    }
}

@media screen and (min-width: 77.5rem) {
    .hero-section.-desktop {
        > .content {
            flex-direction: row;
            column-gap: calc((100% - var(--colgap-all))/var(--col-all) + 2rem); /*1 col + 2 gutter*/
            align-items: center;
            height: calc(100% - 1rem);
            container-type: size;
        }
        >.content > .medias {
            height: inherit;
            max-height: 100%;
            width: calc(5*(100% - var(--colgap-all))/var(--col-all) + 4rem ); /*L-XL: 5c+4g*/
        }
        > .content > .medias > .img-media.-portrait {
            width: 100%;
            max-height: 100%;
        } 
        > .content > .medias > .social-icons {
            width: 100%;
        }

        > .content > .blurb {
            height: inherit; /*TODO DRY, maybe variantize? */
            max-height: 100%;
            align-items: start;
            width: calc((100% - var(--colgap-all))/2 + 5rem); /*L-XL: 6c+5g*/
        }
        > .content > .blurb > .title { 
            text-align: left;
        }
        > .content > .blurb > .blurbtext > .paragraph {
            text-align: left;
            font-size: clamp(1.5rem, 2cqh + 0.75rem, 2.5rem);
        }
        > .content > .blurb > .site-button {
            width: calc((100% - 5rem)/2 + 2rem); /*half of blurb width (3 cols)*/            
        }
    }
}