@import url(../components/social-icons.css);

.site-footer {
    font-size: .875rem;
    padding: 0.5rem 0;
    background-color: var(--color-primary);

    > .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem 1rem;
        height: inherit;
    }
    > .content > .top {
        display: flex;
        align-self: stretch;
        justify-content: space-around;
    }
    > .content > .top > .copyright {
        color: #F3FBFB;
        font-weight: 600;
    }
    > .content > .top > .pagejump {
        color: #F3FBFB;
        font-weight: 600;
        text-decoration: none;
    }

    > .content > .main {
        width: calc(2*(100% - var(--colgap-all))/var(--col-all) + 1rem);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    > .content > .main > .contactlabel {
        align-self: center;
        color: #F3FBFB;
        font-weight: 600;
    }
    > .content > .main > .social-icons {
        /* TODO abstract across mobile social-icons ?*/
        width: 100%;
    }
}