.icon-media {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-dark);
    &:hover {
        color: var(--color-dark-active);
    }
}

.icon-media.-social {
    font-size: var(--fsz-social-icons);
    > .iconcontent.-svg {
        width: var(--fsz-social-icons);
        height: var(--fsz-social-icons);
        &:active {
            width: 95%;
            transition: 
                width .1s, 
                height .1s;
        }
    }
    > .material-symbols-outlined {
        font-variation-settings: "FILL" 1;
        font-size: inherit;
        line-height: var(--fsz-social-icons);
        font-weight: 700;
        text-align: center;
        
        width: var(--fsz-social-icons);
        height: var(--fsz-social-icons);
        &:active {
            font-size: 95%;
            transition: font-size .1s;
        }
    }
}

.icon-media.-card {
    z-index: 2;
    border-radius: 50%; /* perfect circle */
    background-color: var(--color-primary);
    font-size: calc(var(--fsz-card-icons) - 0.5rem);
    line-height: var(--fsz-social-icons);
    text-align: center;

    > .material-symbols-outlined {
        font-size: inherit;
        color: var(--color-neutral1);
    }

    &.-expanded {
        background-color: var(--color-neutral1);
        outline: .125rem solid var(--color-primary);
        outline-offset: -.125rem;
        transition: all .2s;
        > .material-symbols-outlined {
            color: var(--color-primary);
        }
    }
    &:hover {
        background-color: var(--color-primary2);
    }
    &:active { 
        background-color: var(--color-primary-active);
        > .material-symbols-outlined {
            font-size: 95%;
            transition: font-size .1s;
            color: var(--color-neutral-active);
        }
    }

}
.icon-media.-nav { /*TODO responsive adjust still?*/
    display: flex;

    color: var(--color-neutral1);

    text-decoration: none;

    border: .125rem solid var(--color-neutral1);
    border-radius: .25rem;

    
    > .material-symbols-outlined {
        font-weight: 500;
    }
}