@import url(icon-media.css);

.social-icons {
    /* flex: 1 1 auto; ideally 5fr 1fr */
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style-type: none;

    > .iconitem {
        width: fit-content;
        height: fit-content;
    }
}