/* Reasonal System for CSS (RSCSS) / BEM methodologies
    component = .name-with-dashes 
    element = .namewithoutdashes
    variant = .component-name .-variant
            = .elementname .-variant 
    
        LAYOUT > POSITION > COLOR > FONT > BORDER > OTHER PROPERTIES
*/
/* Source Sans 3 */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Material Symbols Outlined */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

:root {
    --colgap-all: 3rem;
    --col-all: 4;
    --margin: 1rem; /*XS 0-599dp = 16dp fixed*/

    --fsz-primary: clamp(1.5rem, 2vw + 1rem, 3rem);
    --fsz-social-icons: clamp(2rem, 4vw + 1rem, 4rem);
    --fsz-card-icons: clamp(2.25rem, 18vw - 4.5rem, 4rem);
    --font-primary: "Oswald", sans-serif;
    --font-secondary: "Source Sans 3", sans-serif;
    

    --color-primary: #3C7678;
    --color-primary2: #266362;
    --color-primary-active: #1A4F4B;
    --color-neutral1: #F2FCFF;
    --color-neutral2: #D4F4FD;
    --color-neutral-active: #ADE4EE;
    --color-dark: #222626;
    --color-dark-active: #0B2621;
    
    

    --box-shadow: 0 .25rem .25rem rgba(0,0,0,25%), 0 .125rem .125rem rgba(0,0,0,30%);
}
@media screen and (min-width: 37.5rem) { 
    :root {
        --col-all: 8;
        --colgap-all: 7rem;
        --margin: 2rem; /*S 600-904dp = 32dp fixed*/ 
    }
}
/* TODO material trippin with this ugly breakpoint */
@media screen and (min-width: 56.6rem) { 
    :root {
        --col-all: 12;
        --colgap-all: 11rem;
        /*M 905-1239dp = scaling margin w 840dp body*/
        --margin: calc((100% - 52.5rem)/2);
        --box-shadow: 0 .5rem .5rem rgba(0,0,0,25%), 0 .25rem .25rem rgba(0,0,0,30%);
    }
}
@media screen and (min-width: 77.5rem) { 
    :root {
        --margin: 12.5rem; /*L 1240-1439dp = 200dp fixed margin*/
    }
}
@media screen and (min-width: 90rem) { 
    :root {
        /*XL 1440+dp = scaling margin w 1040dp body*/
        --margin: calc((100% - 65rem)/2); 
    }
}

h1 {}
h2 {}
h3 {}
p {}
html {
    scroll-snap-type: y proximity;
}
.home-page {
    --h-header: clamp(3rem, 8vw, 4.5rem);
    display: flex;
    flex-direction: column;
    z-index: -1;
    
    font-family: var(--font-secondary);

    > .site-header {
        width: 100%;
        height: var(--h-header);
        position: absolute;
        top: 0;
        align-self: start;
        position: sticky;
        z-index: 3;
    }

    > .hero-section {
        /*viewport height - header - .5rem for section color transition */
        height: calc(100vh - var(--h-header) - .5rem); /*TODO bigger background transition? */
        z-index: 1;
        scroll-snap-align: end;
    }
    > .project-section {
        height: calc(100vh - var(--h-header));
        z-index: 2;
        scroll-snap-align: start;
    }
    > .project-section.-mobile {height: fit-content}
    > .project-section.-desktop {height: calc(100vh - var(--header-height) -.5rem)}

    > .site-footer {
        height: 7.5rem;
        z-index: 0;
        scroll-snap-align: end;
    }

    .content {
        margin: 0 var(--margin);
    }
}