/* Reasonal System for CSS (RSCSS) / BEM methodologies
    component = .name-with-dashes 
    element = .namewithoutdashes
    variant = .component-name .-variant
            = .elementname .-variant 
    
        LAYOUT > POSITION > COLOR > FONT > BORDER > OTHER PROPERTIES
*/
* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald'),
        url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiZQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 300 600;
    src: local('Source Sans 3'), 
        url(https://fonts.gstatic.com/s/sourcesans3/v15/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Ky462EK9Cs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v156/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
  }

:root {
    --colgap-all: 3rem;
    --col-all: 4;
    --margin: 1rem; /*XS 0-599dp = 16dp fixed*/

    --fsz-primary: clamp(1.5rem, 2vw + 1rem, 3rem);
    --fsz-icon: clamp(2rem, 4vw + 1rem, 4rem);
    --font-primary: "Oswald", sans-serif;
    --font-secondary: "Source Sans 3", sans-serif;
    

    --color-primary: #3B7577;
    --color-neutral1: #F3FBFB;
    --color-neutral2: #DAF2F3;

}
@media screen and (min-width: 37.5rem) { 
    :root {
        --col-all: 8;
        --colgap-all: 7rem;
        --margin: 2rem; /*S 600-904dp = 32dp fixed*/ 
    }
}
/* TODO material trippin with this ugly breakpoint */
@media screen and (min-width: 56.6rem) { 
    :root {
        --col-all: 12;
        --colgap-all: 11rem;
        /*M 905-1239dp = scaling margin w 840dp body*/
        --margin: calc((100% - 52.5rem)/2);

    }
}
@media screen and (min-width: 77.5rem) { 
    html {
        --margin: 12.5rem; /*L 1240-1439dp = 200dp fixed margin*/
    }
}
@media screen and (min-width: 90rem) { 
    html {
        /*XL 1440+dp = scaling margin w 1040dp body*/
        --margin: calc((100% - 65rem)/2); 
    }
}
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }
h1 {}
h2 {}
h3 {}
p {}

.home-page {
    --h-header: clamp(3rem, 8vw, 4.5rem);
    display: flex;
    flex-direction: column;

    z-index: -1;
    
    font-family: var(--font-secondary);

    > .site-header {
        width: 100%;
        height: var(--h-header);
        position: absolute;
        top: 0;
        align-self: start;
        position: sticky;
        z-index: 1;
    }
    > .hero-section {
        /*viewport height - header - .5rem for section color transition */
        height: calc(100vh - var(--h-header) - .5rem); /*TODO bigger background transition? */
        background-color: var(--color-neutral1);
    }
    > .project-section {
        background-color: var(--color-neutral2);
    }
    > .footer-section {}

    .content {
        margin: 0 var(--margin);
    }
}

.img-media.-portrait {
    object-fit: cover;
    border: 1px solid black;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,25%); /*TODO responsive adjust??*/
}

.icon-media.-social {
    > .iconcontent.-img {
        width: inherit;
        height: inherit;
    }
    > .material-symbols-outlined{
        font-variation-settings: "FILL" 1;
        font-size: inherit;
    }
}

.social-icons {
    /* flex: 1 1 auto; ideally 5fr 1fr */
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style-type: none;

    > .icon-media.-social {
        width: var(--fsz-icon);
        height: auto;
        font-size: var(--fsz-icon);
    }
}
.site-button {

}

.hero-section {
    > .content {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    >.content > .medias {
        --n-cols: calc(var(--col-all)/2);
        width: 100%;
        max-height: calc(50% - 0.5rem); /*50% of content height - half a gutter for each div*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 1rem; /*TODO responsive adjust*/
    }
    > .content > .medias > .img-media.-portrait {
        width: calc((100% - var(--colgap-all))/2 + (var(--n-cols) + 1)*1rem);
        height: auto;
        aspect-ratio: 0.84;
        margin: 0 auto; /* left, right = XS-M: complements of face-width, L-XL: 0 */
    } 
    > .content > .medias > .social-icons {
        /* XS:2c+1g, S: 4c+3g, M: 6c+5g, L-XL: 5c+4g*/
        width: calc((100% - var(--colgap-all))/2 + (var(--n-cols) - 1)*1rem);
    }

    > .content > .blurb {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;        
    }
    > .content > .blurb > .title {
        margin: 0;
        text-align: center;
        height: fit-content;
        font-size: var(--fsz-primary);
        font-weight: 600; 
        width: 100%;
    }
    > .content > .blurb > .blurbtext {}
    > .content > .blurb > .site-button {}
}

.project-section {
    > .content {}
    > .content > .title {}

    > .content > .featuredlist {}
    > .content > .featuredlist > .project-card {}

    > .content > .site-button {}
}

.project-card { /*clickable, hoverable*/
    > .img-media.-card {}

    > .header {}
    > .header > .title {}
    > .header > .icon-media.-card {} /*expand_more, expand_less, chevron_right*/

    > .details {}
    > .details > .paragraph {}
    > .details > .site-button.-card {}
}

.footer-content {
    > .content {}
    > .content > .top {}
    > .content > .top > .copyright {}
    > .content > .top > .pagejump {}

    > .content > .main {}
    > .content > .main > .label {}
    > .content > .main > .social-icons {}
}



