/* GENERAL */
section {
    height: 100vh; /* TODO SCALE */
    background-color: aquamarine;
}
footer {
    height: 500px; /* TODO SCALE */
    background-color: gray;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
li {
    display: inline;
}
h1 {
    font-size: 90px; 
}
p {
    font-size: 45px;
}

/* HEADER AND NAV */
header {
    background-color: whitesmoke;
    height: 10vh;
    top: 0;
    position: sticky;
    
}
.banner {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
#title {
    font-size:xx-large;
    text-transform: uppercase;
}
nav {
    float: right;
    font-size:x-large;
    width: 25%
}


/* HERO */
.hero {
    display: flex;
    height: 90vh;
    background-color: whitesmoke;
}
#headshot {
    height: 90vh;

}