/* LONG TERM TODO - consider effects of increasing rem for larger screens, e.g. 24dp for gutters; would any rem dimensions scale funky? */
/* LONG TERM TODO - consider more abstractly what elements should be using fit-content */
/* LONG TERM TODO - check to ensure fixed body scaling margins for M viewport size */
/* LONG TERM TODO - round() is pretty fresh, come up w JS alternative for browsers that don't support it*/
/* GENERAL */
* {
padding: 0;
margin: 0;
max-width: 100%;
}
:root {
    --doc-height: 100%;
   }
html { /*TODO consider :root selector for variables? */
    font-size:100%;
    background-color:white;
    font-family: "Source Sans 3", sans-serif;
    --header-height: clamp(3rem, 8vw, 4.5rem);
    --title-fsize: clamp(1.5rem, 2vw + 1rem, 3rem);
    --nav-height: clamp(9rem, 30vw, 13.5rem); /*midpt @ 600dp = 11.25rem, or 30vw*/
    --total-cols: 4;
    --gutters: 3rem;
    --margins: 1rem; /*XS 0-599dp = 16dp fixed*/

    /*absolute-refrenced width of 1 column; ONLY USE WHEN % NOT APPLICABLE */
    --width-1col: calc((100vw - 2*var(--margins) - var(--gutters))/ var(--total-cols));
}
@media screen and (min-width: 37.5rem) { 
    html {
        --total-cols: 8;
        --margins: 2rem; /*S 600-904dp = 32dp fixed*/
        --gutters: 7rem;
    }
}
/* TODO material trippin with this ugly breakpoint */
@media screen and (min-width: 56.6rem) { 
    html {
        --total-cols: 12;
        --gutters: 11rem;
        --face-width: calc(...+2rem);
        /*M 905-1239dp = scaling margin w 840dp body*/
        --margins: calc((100vw - 52.5rem)/2);
    }
}
@media screen and (min-width: 77.5rem) { 
    html {
        --margins: 12.5rem; /*L 1240-1439dp = 200dp fixed margin*/
    }
}
@media screen and (min-width: 90rem) { 
    html {
        /*XL 1440+dp = scaling margin w 1040dp body*/
        --margins: calc((100vw - 65rem)/2); 
    }
}

body {
    display: flex;
    flex-direction: column;
}
.content {
    margin: 0 var(--margins); 
}



/* HEADER */
header {
    /*grid-area: header / 1 / auto / end;*/
    width: 100%;
    background-color: #3B7577;
    height: var(--header-height);
    top: 0;
    align-self: start;
    position: sticky;
    overflow: visible;
    z-index: 1;
}
header > .content {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: inherit;
    position: relative;
    align-content: space-between;
}

a { /*TODO generalize? */
    text-decoration: none;
    color: #F3FBFB;
}

.title {
    font-family: "Oswald", sans-serif;
    font-size: var(--title-fsize); /*TODO define by grid instead??*/
    line-height:  var(--header-height); /*TODO constrain by width AND height of text? */
}

#menu {
    border: 2px solid #F3FBFB;
    border-radius: 4px;
    display: flex;
}
nav {
    position: relative;
    display: flex;
    width: 100vw;
    height: var(--nav-height);
    overflow: inherit; /*"visible", from header*/
}
#nav-items {
    display: none;
    position: absolute; 
    background-color: #F3FBFB; 
    list-style: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: inherit;
    border: 1px solid black; /*TODO replace w drop shadow*/
}

#nav-items li {
    width: inherit;
    height: calc(var(--nav-height)/3)
}
#nav-items li a {
    color: black;
    font-variant: small-caps;
    font-weight: 400;
    font-size: clamp(1rem, 2vw + 1rem, 2rem);
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}
/*MOBILE NAV -> DESKTOP NAV*/
/*Media query for breakpoint at 1240dp*/
@media screen and (min-width: 77.5rem) {
    #menu {
      display: none; /* Hide hamburger icon on desktop */
    }
  
    nav {
      position: initial;
      width: calc((100% - var(--gutters))/3 + 3rem);  /*4 out of 12 cols*/
      height: inherit;
    }

    #nav-items {
        display: flex !important; /* precedence over dropdown() */
        position: inherit;
        background-color: transparent;
        flex-direction: row;
        gap: 1rem;
        border: none;
    }

    #nav-items li {
        width: calc((100% - 2rem)/3); /*(parent - gutters) / 3*/
        height: inherit;
    }

    #nav-items li a {
        color: #F3FBFB;
        line-height: var(--header-height);
        font-size: clamp(1.25rem, 2vw + 1rem, 1.5rem);
    }
}

/* SECTIONS */
section > .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media screen and (min-width: 77.5rem) {
    section > .content {
        flex-direction: row;
        gap: calc((100% - var(--gutters))/var(--total-cols) + 2rem); /*1 col + 2 gutter*/
    }
}


/* HERO SECTION */
#hero {
    /*viewport height - header - .5rem for section color transition */
    height: calc(100vh - var(--header-height) - .5rem); /*TODO bigger background transition? */
    background-color: #F3FBFB;
}

#hero > .content > div {
    --cols: calc(var(--total-cols)/2); /* XS-S: 2 or 4col, saving myself a media query */
    --top-margin: clamp(1rem,.5vw, 7rem); /*top margin = XS:1rem, S:3, M:5, L-XL:6-7rem*/

    /*50% of content height - half a gutter for each div*/
    height: calc(50% - 0.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem 1rem;
    margin-top: var(--top-margin); 
}
#face {
    --face-width: calc( (100% - var(--gutters))/2 + (var(--cols) + 1)*1rem ); /*XS: 2c+3g, S:4c+5g;*/
    
    flex: 5 1 auto; /*ideally 5fr 1fr*/
    max-height: calc(100% - var(--top-margin)); /*is this necessary? */
    width: var(--face-width); /*XS: 2c+3g, S:4c+5g, M:8c+9g, L-XL:5c+4g */
    margin: 0 calc((100% - var(--face-width))/2); /* left, right = XS-M: complements of face-width, L-XL: 0 */
    object-fit: cover;
    border: 1px solid black;
    box-shadow: 0 0 10px 0 rgba(0,0,0,25%);
}
.socials {
    --icon-size: clamp(2rem, 4vw + 1rem, 4rem);
    flex: 1 1 auto; /*ideally 5fr 1fr*/
    /* XS:2c+1g, S: 4c+3g, M: 6c+5g, L-XL: 5c+4g*/
    width: calc((100% - var(--gutters))/2 + (var(--cols) - 1)*1rem);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
.list-icon{
    width: fit-content;
    height: fit-content;
}
.socials img {
    width: var(--icon-size); /*XS: ~2rem, S: ~3rem, M-XL: ~4rem*/
    height: auto;
}
.socials span {
    font-size: var(--icon-size); /*XS: ~2rem, S: ~3rem, M-XL: ~4rem*/
}
#blurb > h1 {
    margin: 0;
    text-align: center;
    height: fit-content;
    font-size: calc(var(--title-fsize));
    font-weight: 600; 
    width: 100%;
}

#blurb > p {
    margin: 0;
    text-align: center;
    height: fit-content;
    /*TODO? width XS-M: 100%, L-XL: half cols, 100% of blurb */
    font-weight: 300;
    font-size: clamp(1rem, 1vw + 1rem, 2.5rem);
}
#blurb > button {
    width: calc((100% - var(--gutters))/2 + (var(--cols) - 1)*1rem);
}

button { /*TODO consider general vs specific buttons*/
    justify-content: center;
    display: flex;
    align-items: center;
   
    font-weight: 600;
    font-size: clamp(1rem, 2vw + 0.5rem, 2rem); /*XS: 1, S: 2, M: 2*/
    color: #F3FBFB;
    
    background-color: #3B7577;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,15%), 0 1px 2px rgba(0,0,0,30%);

    margin: 0.5rem 0 0.5rem; /*TODO anything? */
    height: auto;
    aspect-ratio: 3.25 / 1;
}
@media screen and (min-width: 56.6rem) {
    #face {
        --face-width: calc(2*(100% - var(--gutters))/3 + 5rem); /*M: 8c+9g*/
    }
}
@media screen and (min-width: 77.5rem) {
    #hero > .content {
        align-items: center;
        height: calc(100% - 4rem);
    }
    #hero > .content > div {
        height: inherit;
    }

    #hero-media {
        width: calc(5*(100% - var(--gutters))/var(--total-cols) + 4rem ); /*L-XL: 5c+4g*/
    }
    #face {
        --face-width: 100%; 
        margin-left: 0;
        margin-right: 0;
    }
    .socials {
        width: 100%;
    }
    #blurb {
        width: calc((100% - var(--gutters))/2 + 5rem); /*L-XL: 6c+5g*/
    }
    #blurb > h1, #blurb > p { /*cascade not working*/
        text-align: left;
    }
    #blurb > button {
        width: calc((100% - 5rem)/2 + 2rem);
        align-self: start;
    }
    button {
        font-size: clamp(1.5rem, 2vw + 0.25rem, 2rem); /*XS: 1, S: 2, M: 2*/
    }
    #transition {
        display: flex  !important;
        width: 100%;
        height: 4rem;
        justify-content: center;
        align-items: center;
    }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}
/* PROJECTS */
#project-section {
    background-color: #DAF2F3;
    /*grid-area: projects / 1 / auto / end;*/
}
#project-section > .content {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    row-gap: 1rem;
}
#featured-projects {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: stretch;
}
.project {
    background-color: #F3FBFB;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    position: relative;
    
}
.project > h3 {
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}
.project img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 0.5rem 0.5rem 0 0;
}

.project a {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0.25rem;
    right: 1rem;
    background-color: #3B7577;
    border-radius: 50%;
}
.project a span {color: white}
#project-section button {
    width: calc((100% - 3rem)/2 + 1rem);
    align-self: center;
}


/* FOOTER */
footer {
    /*grid-area: footer / 1 / auto / end;*/
    font-size: .875rem;
    background-color: #3B7577;
    height: 7.5rem;
    padding: 0.5rem 0;
}
footer > .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem 1rem;
}
footer a, footer p {
    color: white;
    font-weight: 600;
}
.footer-top {
    grid-column: 1 / span 4;
    display: flex;
    justify-content: space-between;
}
.footer-main {
    grid-area: 2 / 2 / 3 / 4;
    display: flex;
    flex-direction: column;
}


