/* LONG TERM TODO - consider effects of increasing rem for larger screens, e.g. 24dp for gutters; would any rem dimensions scale funky? */
/* LONG TERM TODO - consider more abstractly what elements should be using fit-content */
/* LONG TERM TODO - check to ensure fixed body scaling margins for M viewport size */
/* LONG TERM TODO - round() is pretty fresh, come up w JS alternative for browsers that don't support it*/
/* GENERAL */
* {
padding: 0;
margin: 0;
max-width: 100%;
}
:root {
    --doc-height: 100%;
   }
html { /*TODO consider :root selector for variables? */
    font-size:100%;
    background-color:#F3FBFB;
    font-family: "Source Sans 3", sans-serif;
    --header-height: clamp(3rem, 8vw, 4.5rem);
    --title-fsize: clamp(1.5rem, 2vw + 1rem, 3rem);
    --nav-height: clamp(9rem, 30vw, 13.5rem); /*midpt @ 600dp = 11.25rem, or 30vw*/
    --total-cols: 4;
    --gutters: 3rem;
    --margins: 1rem; /*XS 0-599dp = 16dp fixed*/
}
@media screen and (min-width: 37.5rem) { 
    html {
        --total-cols: 8;
        --margins: 2rem; /*S 600-904dp = 32dp fixed*/
        --gutters: 7rem;
    }
}
/* TODO material trippin with this ugly breakpoint */
@media screen and (min-width: 56.6rem) { 
    html {
        --total-cols: 12;
        --gutters: 11rem;
        /*M 905-1239dp = scaling margin w 840dp body*/
        --margins: calc((100vw - 52.5rem)/2);
    }
}
@media screen and (min-width: 77.5rem) { 
    html {
        --margins: 12.5rem; /*L 1240-1439dp = 200dp fixed margin*/
    }
}
@media screen and (min-width: 90rem) { 
    html {
        /*XL 1440+dp = scaling margin w 1040dp body*/
        --margins: calc((100vw - 65rem)/2); 
    }
}

body {
    display: flex;
    flex-direction: column;
}
.content {
    margin: 0 var(--margins); 
}



/* HEADER */
header {
    /*grid-area: header / 1 / auto / end;*/
    width: 100%;
    background-color: #3B7577;
    height: var(--header-height);
    top: 0;
    align-self: start;
    position: sticky;
    overflow: visible;
    z-index: 3;
}
header > .content {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: inherit;
    position: relative;
    align-content: space-between;
}

a { /*TODO generalize? */
    text-decoration: none;
    color: #F3FBFB;
}

.title {
    font-family: "Oswald", sans-serif;
    font-size: var(--title-fsize); /*TODO define by grid instead??*/
    line-height:  var(--header-height); /*TODO constrain by width AND height of text? */
}

#menu {
    border: .125rem solid #F3FBFB;
    border-radius: .25rem;
    display: flex;
}
nav {
    position: none;
    display: none;
    width: 100vw;
    height: var(--nav-height);
    overflow: inherit; /*"visible", from header*/
}
#nav-items {
    display: none;
    position: absolute; 
    background-color: #F3FBFB; 
    list-style: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: inherit;
    border: 1px solid black; /*TODO replace w drop shadow*/
}


#nav-items li {
    width: inherit;
    height: calc(var(--nav-height)/3);
}
#nav-items li a {
    color: black;
    font-variant: small-caps;
    font-weight: 400;
    font-size: clamp(1rem, 2vw + 1rem, 2rem);
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}
/*MOBILE NAV -> DESKTOP NAV*/
/*Media query for breakpoint at 1240dp*/
@media screen and (min-width: 77.5rem) {
    #menu {
      display: none; /* Hide hamburger icon on desktop */
    }
  
    nav {
      display: flex;
      position: initial;
      width: calc((100% - var(--gutters))/3 + 3rem);  /*4 out of 12 cols*/
      height: inherit;
    }

    #nav-items {
        display: flex !important; /* precedence over dropdown() */
        position: inherit;
        background-color: transparent;
        flex-direction: row;
        gap: 1rem;
        border: none;
    }

    #nav-items li {
        width: calc((100% - 2rem)/3); /*(parent - gutters) / 3*/
        height: inherit;
    }

    #nav-items li a {
        color: #F3FBFB;
        line-height: var(--header-height);
        font-size: clamp(1.25rem, 2vw + 1rem, 1.5rem);
    }
}

/* SECTIONS */
section > .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media screen and (min-width: 77.5rem) {
    section > .content {
        flex-direction: row;
        gap: calc((100% - var(--gutters))/var(--total-cols) + 2rem); /*1 col + 2 gutter*/
    }
}


/* HERO SECTION */
#hero {
    /*viewport height - header - .5rem for section color transition */
    height: calc(100vh - var(--header-height) - .5rem); /*TODO bigger background transition? */
    background-color: #F3FBFB;
}
#hero > .content {
    margin-top: clamp(1rem,.5vw, 7rem); /*top margin = XS:1rem, S:3, M:5, L-XL:6-7rem*/
}
#hero-media {
    --cols: calc(var(--total-cols)/2); /* XS-S: 2 or 4col, saving myself a media query */

    /*50% of content height - half a gutter for each div*/
    max-height: calc(50% - 0.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem 1rem;
}
#face {
    --face-width: calc( (100% - var(--gutters))/2 + (var(--cols) + 1)*1rem ); /*XS: 2c+3g, S:4c+5g;*/

    flex: 5 1 auto; /*ideally 5fr 1fr*/
    width: var(--face-width); /*XS: 2c+3g, S:4c+5g, M:8c+9g, L-XL:5c+4g */
    margin: 0 calc((100% - var(--face-width))/2); /* left, right = XS-M: complements of face-width, L-XL: 0 */
    object-fit: cover;
    border: 1px solid black;
    box-shadow: 0 0 10px 0 rgba(0,0,0,25%);
}
.socials {
    --icon-size: clamp(2rem, 4vw + 1rem, 4rem);
    
    flex: 1 1 auto; /*ideally 5fr 1fr*/
    /* XS:2c+1g, S: 4c+3g, M: 6c+5g, L-XL: 5c+4g*/
    width: calc((100% - var(--gutters))/2 + (var(--cols) - 1)*1rem);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
.list-icon{
    width: fit-content;
    height: fit-content;
}
.socials img {
    width: var(--icon-size); /*XS: ~2rem, S: ~3rem, M-XL: ~4rem*/
    height: auto;
}
.socials span {
    font-size: var(--icon-size); /*XS: ~2rem, S: ~3rem, M-XL: ~4rem*/
}
#blurb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#blurb h1 {
    margin: 0;
    text-align: center;
    height: fit-content;
    font-size: calc(var(--title-fsize));
    font-weight: 600; 
    width: 100%;
}

#blurb p {
    margin: 0;
    text-align: center;
    height: fit-content;
    /*TODO? width XS-M: 100%, L-XL: half cols, 100% of blurb */
    font-weight: 300;
    font-size: clamp(1rem, 3vw + .75rem, 2.5rem);
}
#blurb button {
    --button-width: calc((100% - var(--gutters))/2 + (var(--cols) - 1)*1rem); /*half of cols */
}

button { /*TODO consider general vs specific buttons*/

    justify-content: center;
    display: flex;
    align-items: center;
   
    font-weight: 600;
    font-family: "Source Sans 3", sans-serif; /* TODO determine issue with specificity */
    font-size: clamp(1rem, 4vw + 0.25rem, 2.5rem); /*XS: 1, S: 2, M: 2*/
    color: #F3FBFB;
    
    background-color: #3B7577;
    border-radius: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,15%), 0 1px 2px rgba(0,0,0,30%);
    margin: 0.5rem 0 0.5rem; /*TODO anything? */
    padding: 1rem 0.5rem;
    width: var(--button-width);
    /* height: clamp(var(--button-width)/3.5, 2vh, var(--button-width)/3); */
    height: auto;
    aspect-ratio: 3.4 / 1;
}
@media screen and (min-width: 56.6rem) {
    #face {
        --face-width: calc(2*(100% - var(--gutters))/3 + 5rem); /*M: 8c+9g*/
    }
}
@media screen and (min-width: 77.5rem) {
    #hero > .content {
        align-items: center;
        height: calc(100% - 4rem);
    }
    #hero > .content > div {
        height: inherit;
        max-height: 100%;
    }

    #hero-media {
        width: calc(5*(100% - var(--gutters))/var(--total-cols) + 4rem ); /*L-XL: 5c+4g*/
    }
    #face {
        --face-width: 100%; 
        margin-left: 0;
        margin-right: 0;
        max-height: 100%;
    }
    .socials {
        width: 100%;
    }
    #blurb {
        width: calc((100% - var(--gutters))/2 + 5rem); /*L-XL: 6c+5g*/
    }
    #blurb > h1, #blurb > p { /*cascade not working*/
        text-align: left;
    }
    #blurb > button {
        --button-width: calc((100% - 5rem)/2 + 2rem); /*half of blurb width (3 cols)*/
        align-self: start;
    }
    button {
        font-size: clamp(1.5rem, 3vw - .75rem, 2rem); /*XS: 1, S: 2, M: 2*/
    }
    /* #transition {
        display: flex  !important;
        width: 100%;
        height: 4rem;
        justify-content: center;
        align-items: center;
    } */
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}
/* PROJECTS */
#project-section {
    background-color: #DAF2F3;
    height: fit-content /* TODO desktop = 100vh-.5rem */
}
#project-section > .content {
    display: flex;
    flex-direction: column; /*keep column*/
    padding: 1.5rem 0; /*same for desktop, adjust for responsiveness */
    row-gap: 1rem; /* same for desktop, adjust for responsiveness */
}
#featured-projects { /*width = 100%, what proportion of content height?*/
    display: flex;
    flex-direction: column;
    gap: 1rem 1rem; /* TODO adjust to gap for 2-row desktop */
    align-items: stretch; /* keep (?)*/
}

/* TODO PROJECT CARD paragraph => dropdown for mobile/tablet, hover for desktop*/
.project-card {
    --border-radius: clamp(0.5rem, -.375rem + 2.5vw, 1rem);
    background-color: #F3FBFB;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    box-shadow: 0 .25rem .25rem rgba(0,0,0,25%), 0 .125rem .125rem rgba(0,0,0,30%);
    
}
.project-card img {
    object-fit: cover; /* = fill + clip to fit apsect ratio */
    width: 100%;
    height: auto; /*TODO w+h might cause trouble later with diff images, check for consistent sizing */
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; /*background-color: #F3FBFB;*/
    box-shadow: 0 .25rem .25rem rgba(0,0,0,25%), 0 .125rem .125rem rgba(0,0,0,30%);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.card-header h3 {
    padding-left: 0.5rem; /* TODO responsive adjust */
}

/*TODO chevron functionality; XS-M = down icon, expand; L-XL = right icon, redirect*/
/*TODO why does it look so BIG*/
.card-header a {
    width: 2.5rem; /*TODO XS = 2.25, S-M = 5.25, L-XL: 4rem*/
    height: 2.5rem; /*1:1*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0.25rem; /*TODO XS = .25, S-M = .5, L-XL = .5 */
    right: .5rem; /*TODO XS = .5, M = 1, L-XL = 1 */
    background-color: #3B7577;  
    border-radius: 50%; /* perfect circle */
    z-index: 2;
}
.card-header a.expanded {
    background-color: #F3FBFB;
    outline: .125rem solid #3B7577;
    outline-offset: -.125rem;
}
.card-header a span {color: #F3FBFB}
.card-header a span.expanded {color: #3B7577} /*white WHEN EXPAND MORE */

/*TODO mobile->desktop = dropdown->overlay*/
.card-details {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem 0.5rem; /*TODO XS: .5, S-XL: 1rem */
    /*TODO consider having a consistent height / max height */
}

.card-details p { /* possibly match with other p tags */
    font-size: 1rem; /*TODO XS:~1, S-M:~2, L-XL: ~2? */
}
.card-details button {
    --button-width: calc((100% - 2rem)/4 + 2.5rem); /*1c+1g, compensating for 2 separate paddings!!!*/
    align-self: flex-end;
}
#project-section > .content > button {
    --button-width: calc((100% - 3rem)/2 + 1rem); /*XS = 2c1g, S = 4c3g, M= 6c5g, L-XL = 4c3g*/
    margin-top: 1rem; /*TODO temp hack due to not having same featured project > title + tiles structure*/
    align-self: center;
}
@media screen and (min-width: 77.5rem) {
    #featured-projects {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .project-card {
        width: calc((100% - var(--gutters))/2 + 5rem);
    }
    .card-details {
        position: absolute;
        justify-content: start;
        top: 0;
        left: 0;
        background-color: rgba(30,30,30,80%);
        height: calc(100% - 3.5rem); /*cover img, compensating for padding*/
        border-radius: 0.5rem 0.5rem 0 0;
        z-index: 1;
    }
    .card-details p {
        color: #F3FBFB;
    }
    .card-details button {
        display: none;
    }

}

/* FOOTER */
footer {
    /*grid-area: footer / 1 / auto / end;*/
    font-size: .875rem;
    background-color: #3B7577;
    height: 7.5rem;
    padding: 0.5rem 0;
}
footer > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem 1rem;
    height: inherit;
}
footer a, footer p {
    color: #F3FBFB;
    font-weight: 600;
}
.footer-top {
    display: flex;
    align-self: stretch;
    justify-content: space-around;
}
.footer-main {
    width: calc(2*(100% - var(--gutters))/var(--total-cols) + 1rem);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-main > p {align-self: center}


/* MODIFIER CLASSES: to be toggled via JS, at bottom to beat out precedence */
#nav-items.expanded, *.expanded {
    display: flex; /*target: nav-items, card-details, card-header > a ??*/
}
