/* LONG TERM TODO - consider effects of increasing rem for larger screens, e.g. 24dp for gutters; would any rem dimensions scale funky? */
/* LONG TERM TODO - consider more abstractly what elements should be using fit-content */
/* LONG TERM TODO - check to ensure fixed body scaling margins for M viewport size */
/* GENERAL */
* {
padding: 0;
margin: 0;
max-width: 100%;
}

html { /*TODO consider :root selector for variables? */
    font-size:100%;
    background-color:white;
    font-family: "Source Sans Pro", sans-serif;
    --header-height: clamp(3rem, 8vw, 4.5rem);
    --nav-height: clamp(9rem, 30vw, 13.5rem); /*midpt @ 600dp = 11.25rem, or 30vw*/
    --cols: 4;
    --gutters: 3rem;
    --margins: 1rem; /*XS 0-599dp = 16dp fixed*/
    --top-margin: clamp(1rem,.5vw, 7rem);
    /*generalized variables based on # of cols*/
    --width-1col: calc((100vw-2*var(--margins) - var(--gutters)) / var(--cols));
    --width-2col: calc(2*var(--width-1col)+1rem);
    --width-4col: calc(4*var(--width-1col)+3rem);
    /*generalized variables based on fraction of total cols*/
    --half-cols: calc((100vw - 2*var(--margins) - var(--gutters))/2 + round(down, var(--gutters)/2));

    --face-width: calc(var(--half-cols)+2rem);
}
@media screen and (min-width: 37.5rem) { 
    html {
        --cols: 8;
        --margins: 2rem; /*S 600-904dp = 32dp fixed*/
        --gutters: 7rem;
    }
}
/* TODO material trippin with this ugly breakpoint */
@media screen and (min-width: 56.6rem) { 
    html {
        --cols: 12;
        --third-cols: calc((100vw - 2*var(--margins) - var(--gutters))/3 + round(down, var(--gutters)/3));
        --face-width: calc(...+2rem);
        /*M 905-1239dp = scaling margin w 840dp body*/
        --margins: calc((100vw - 52.5rem)/2);
    }
}
@media screen and (min-width: 77.5rem) { 
    html {
        --cols: 12;
        --margins: 12.5rem /*L 1240-1439dp = 200dp fixed margin*/
    }
}
@media screen and (min-width: 90rem) { 
    html {
        --cols: 12;
        /*XL 1440+dp = scaling margin w 1040dp body*/
        --margins: calc((100vw - 65rem)/2); 
    }
}

body {
    display: flex;
    flex-direction: column;
}
.content {
    margin: 0 var(--margins); 
}



/* HEADER */
header {
    /*grid-area: header / 1 / auto / end;*/
    width: 100%;
    background-color: #3B7577;
    height: var(--header-height);
    top: 0;
    align-self: start;
    position: sticky;
    overflow: visible;
    z-index: 1;
}
header > .content {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: inherit;
    position: relative;
    align-content: space-between;
}

a { /*TODO generalize? */
    text-decoration: none;
    color: #F3FBFB;
}

.title {
    font-family: "Oswald", sans-serif;
    font-size: clamp(1.5rem, 2vw + 1rem, 3rem); /*TODO or define by grid?*/
    line-height:  var(--header-height); /*TODO constrain by width AND height of text? */
}

#menu {
    border: 2px solid #F3FBFB;
    border-radius: 4px;
    display: flex;
}
nav {
    position: relative;
    display: flex;
    width: 100vw;
    height: var(--nav-height);
    overflow: inherit; /*"visible", from header*/
}
#nav-items {
    display: none;
    position: absolute; 
    background-color: #F3FBFB; 
    list-style: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: inherit;
    border: 1px solid black; /*TODO replace w drop shadow*/
}

#nav-items li {
    width: inherit;
    height: calc(var(--nav-height)/3)
}
#nav-items li a {
    color: black;
    font-variant: small-caps;
    font-weight: 400;
    font-size: clamp(1rem, 2vw + 1rem, 2rem);
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}
/*MOBILE NAV -> DESKTOP NAV*/
/*Media query for breakpoint at 1240dp*/
@media screen and (min-width: 77.5rem) {
    #menu {
      display: none; /* Hide hamburger icon on desktop */
    }
  
    nav {
      position: initial;
      width: var(--width-4col); /*4 out of 12 cols*/
      height: inherit;
    }

    #nav-items {
        display: flex !important; /* precedence over dropdown() */
        position: inherit;
        background-color: transparent;
        flex-direction: row;
        gap: 1rem;
        border: none;
    }

    #nav-items li {
        width: calc((100% - 2rem)/3); /*(parent - gutters) / 3*/
        height: inherit;
    }

    #nav-items li a {
        color: #F3FBFB;
        line-height: var(--header-height);
        font-size: clamp(1.25rem, 2vw + 1rem, 1.5rem)
    }
}

/* SECTIONS */
section > .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media screen and (min-width: 77.5rem) {
    section > .content {
        flex-direction: row;
        gap: calc(2rem + var(--width-1col)); /*1 col + 2 gutter*/
    }
}

/* HERO SECTION */
#hero {
    /*viewport height - header - .5rem for section color transition */
    height: calc(100vh - var(--header-height) - .5rem); /*TODO bigger background transition? */
    background-color: #F3FBFB;
}

#hero > .content > div {
    /*50% of content height - half a col gap for each div*/
    height: calc(50% - 0.5rem); /*keep this for desktop for now, we'll see about resizing */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem 1rem; 
}
#face {
    flex: 5 1 auto; /*ideally 5fr 1fr*/
    max-height: calc(100% - var(--top-margin)); /*is this necessary? */
    width: calc(3rem + (100% - 3rem)/2); /*TODO S:4c+2g, M:8+2, L-XL:5c */
    margin-top: var(--top-margin); /*XS:1rem, S:3, M:5, L-XL:6-7rem*/
    margin-left: calc((100% - 3rem)/4); /*TODO S:2c+1g, M:3+2, L-XL:0*/
    margin-right: calc((100% - 3rem)/4); /*"*/
    object-fit: cover;
    border: 1px solid black;
    box-shadow: 0 0 10px 0 rgba(0,0,0,25%);
}
.socials {
    flex: 1 1 auto; /*ideally 5fr 1fr*/
    width: var(--half-cols);
 /*TODO S:3/7, M:4/10, L-XL:1/5 or think of classes per columns*/
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
.list-icon{
    width: fit-content;
    height: fit-content;
}
.socials img {
    width: 2.25rem; /* TODO clamp to 4rem? consider more carefully */
    height: auto;
}
.socials span {
    font-size: 2.25rem; /* TODO clamp to 4rem? consider more carefully */
}

/*#hero > div:nth-child(2) {
    grid-template-rows: 1fr 2fr 2fr 2fr;
}*/
h1, p { /*TODO should I be using this so broadly */
    margin: 0;
    text-align: center; /*TODO DESKTOP change to left align*/
    height: fit-content; 
}
#hello {
    font-size: 1.5rem; /*TODO S:2.5, M:2.5, L:2.5, XL:3, consider clamp/relative to title*/
    font-weight: 600;
    grid-row-start: 1;
    grid-column: 2 / 4; /*TODO S:3/7 (4cols), M:5/9?(4cols), L-XL:7/12(5cols) */
}
#hello + p {
    grid-row-start: 2;
    grid-column: 1 / 5; /*TODO S:1/9 (8cols), M:1/13(12cols), L-XL:7/13(6cols) */
    font-weight: 300;
    font-size: 1.125rem; /*TODO S:2, M:2, L:2, XL:2.5, consider clamp/relative to hello*/
}
#hello + p + p {
    grid-row-start: 3; /*TODO such ugly stylings, refactor*/
    grid-column: 1 / 5; /*TODO see above*/
    font-weight: 300;
    font-size: 1.125rem; /*TODO see above*/
}
#hello + p + p + button {
    grid-row-start: 4;
    grid-column: 2 / 4; /*TODO S:3/7, M:4/10, L-XL:7/10*/
}

button { /*TODO too general?*/
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #3B7577;
    font-weight: 600;
    font-size: 1rem; /*TODO S:2, M:2, L:1.5??, XL:1.75??, INVESTIGATE FURTHER */
    margin: 0.5rem 0 0.5rem; /*TODO anything? */
    color: #F3FBFB;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,15%), 0 1px 2px rgba(0,0,0,30%);
    width: 100%;
    height: 2.5rem; /*TODO ??*/
}

@media screen and (min-width: 77.5rem) {
    
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}
/* PROJECTS */
#project-section {
    background-color: #DAF2F3;
    /*grid-area: projects / 1 / auto / end;*/
}
#project-section > .content {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    row-gap: 1rem;
}
#featured-projects {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: stretch;
}
.project {
    background-color: #F3FBFB;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    position: relative;
    
}
.project > h3 {
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}
.project img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 0.5rem 0.5rem 0 0;
}

.project a {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0.25rem;
    right: 1rem;
    background-color: #3B7577;
    border-radius: 50%;
}
.project a span {color: white}
#project-section button {
    width: calc((100% - 3rem)/2 + 1rem);
    align-self: center;
}


/* FOOTER */
footer {
    /*grid-area: footer / 1 / auto / end;*/
    font-size: .875rem;
    background-color: #3B7577;
    height: 7.5rem;
    padding: 0.5rem 0;
}
footer > .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem 1rem;
}
footer a, footer p {
    color: white;
    font-weight: 600;
}
.footer-top {
    grid-column: 1 / span 4;
    display: flex;
    justify-content: space-between;
}
.footer-main {
    grid-area: 2 / 2 / 3 / 4;
    display: flex;
    flex-direction: column;
}


